/* Online Pizza 
Filename: aboutus.css

Author: Ya-Hsuan Lin
Date:  DEC 11 2017 */




/*-- Start AboutUs ---*/

.inner-icon{
		position: relative;
		display: inline-block;

	}

section h4{
	color: #f3a816;
    text-decoration: none;
    text-shadow:
    -1px -1px 0px #5b2904,
    1px -1px 0px #5b2904,
    -1px 1px 0px #5b2904,
    1px 1px 0px #5b2904;
	font-weight: 700;
}
section p{
	color:white;
}


/* .one-third .middle {
	max-width: 400px;
	color: white;
	text-shadow: none;
	text-transform: capitalize;
	font-family:  monospace;
	font-size: 18px;
} */


/* .social h4{
	font-family: cursive;
	color: #f3a816;
    text-decoration: none;
    text-shadow:
    -1px -1px 0px #5b2904,
    1px -1px 0px #5b2904,
    -1px 1px 0px #5b2904,
    1px 1px 0px #5b2904;
	font-weight: 700;
	margin-top: -70px;
	float: right;
	margin-right: 130px;
} */