.btn, a.btn {
	display: inline-block;
	background: #f3a816;
	color: #fff;
	font: 1em 'Ubuntu Condensed', sans-serif;
	padding: 0.3em 1em;
	text-align: center;
	border-radius: 4px;
    border: 1px solid #f3a816;
    text-decoration: none;
}

#shopping-cart {
	margin: 1.5em 0;
}
.shopping-cart {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.shopping-cart th {
	font-size: 1.3em;
	padding: 0.3em;
    width: 33.3%;
    color: #f3a816;
	border: 1px solid #ddd;
	text-transform: uppercase;
}

.shopping-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}

/* .shopping-cart tr:nth-child(even) {
	 background: #fafafa; 
} */

.shopping-cart td.pdelete {
	text-align: center;
}

.pdelete a,
.pdelete a:hover {
	color: #c00;
	text-decoration: none;
	font-size: 2.5em;
	display: block;
	text-align: center;
}

#shopping-cart-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#shopping-cart-actions li {
	display: inline-block;
	margin-right: 1em;
}
#pricing {
	padding: 0.5em;
	margin: 1em 0;
	background: #fafafa;
}

#subtotal, #shipping {
	margin: 1.5em 0;
	text-align: right;
	color:white;
	
}

#sub-total span,
#shipping span {

	margin-left: 1em;
}

#content > h1,
#checkout-order-form h2 {
	font-size: 2em;
    text-align: center;
    color:white;
}

#pricing #sub-total,
#pricing #shipping {
	margin: 1em 0;
}


tr, #sub-total strong, #sub-total span{
	color: white;
}
