

#Comboheader{
    /* margin-top: -5%; */
    width:15%;
}

.one-third img{
    padding-bottom: 10%;

} 


.combo {	
	max-height: 280px;
	min-height: 280px;
	max-width: 280px;
	min-width: 280px;
	
	
	position: relative;
} 

p {
	position: relative;
	font-family: cursive;
    top: -200px;
    font-size: 150%;
    color: #f3a816;
}

.label {
	position: relative;
	top: -100px;
	z-index: -40;
}


#add-to-cart{
    z-index: 4;
    position: absolute;
}



/* ADD TO CART*/
.add-to-cartAnimate {
    background:green;
    font-size: 80%;
   
    /* background: url(../image/Button/plus.png)center; */
}

.btn, a.btn {
	display: inline-block;
	background: #cc1400;
	color: #fff;
	font: 1em 'PT Serif', serif;
	padding: 0.3em 1em;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #a00;
}
#show-cart,#total-cart{
	color: #fff;
}

div {
	color: #fff;
}