/* ---Pop Up Log iN ---- */
/* Online Pizza 
Filename: LoginStyle.css

Author: Chatsuda Rattarasan   
Date:     

*/

/* Full-width input fields */
.Login{
    position: absolute;
    display: inline;
    top:4%;
    right: 10%;

}
.Login:hover{
    opacity: 0.8;
}
.cartButton{
    position: absolute;
    Top:4%;
    right:5%;
    width: 40px;
	height: 34px;

}
.cartButton:hover{
    opacity: 0.8;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */

button {
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the Login button */
button.loginButton{
    background:#4CAF50;
}

/* Extra styles for the LoginIcon button */
button.LoginButtonH {
    background: transparent;
    right:10%;
    Top:0;
    position: absolute;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: 100%;
    padding: 14px 20px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    background-color:#f1f1f1;
}

span.psw {
    margin: 0, auto;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
@media screen and  (max-width:768px){
    .cartButton{
        position: absolute;
        Top:4%;
        right:10%;
        width: 35px;
        height: 24px;
    
    }
    button.LoginButtonH {
        background:transparent;
        Top:0;
        right:14%;
        position: absolute;
        
    }
    
	
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}