/* Online Pizza 
Filename: SignUpStyle.css

Author: Chatsuda Rattarasan   
Date:  6 Dec 2017   

*/

/* Full-width input fields */
input.SignUpInput[type=text], input.SignUpInput[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for signUp buttons */

button.signupbtn {
    background-color:rgb(10, 157, 241);
    
} 
button.SignUpButton1 {
    background-color:rgb(10, 157, 241);
    
} 


/* Extra styles for the cancel button */
.SignUpcancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.SignUpcancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* The Modal (background) */
.SignUpmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.SignUpmodal-content {
    background-color: #fefefe;
    margin: 20% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.SignUpclose {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.SignUpclose:hover,
.SignUpclose:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.SignUpclearfix::after {
    content: "";
    clear: both;
    display: table;
}
p{
    color: #555;
	font-family: 'Ubuntu Condensed', sans-serif;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .SignUpcancelbtn, .signupbtn {
        width: 100%;
    }
}