* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}
container {
	position: relative;
	top: -80px;
}

.clearfix {
	clear: both;
	padding: 1%;
}

p {
	color: white;
	font-family: 'Indie Flower', cursive;
	line-height: 190%;
	text-align: center;
	text-transform: capitalize;		
	
}
.pizza {	
	max-height: 300px;
	min-height: 300px;
	max-width: 300px;
	min-width: 300px;
	
	
	border-width: 5px;	
	position: relative;
} 
.label {
	position: relative;
	top: -40px;
	z-index: -40;
}
p {
	position: relative;
	top: -110px;
}
.section1 {
	max-width: 350px;
	max-height: 520px;
	margin: 2%;
	display: block;
	float: left;
	
}

.center {
	margin: 0 auto;
	max-width: 100%;
	font-size: 200%;	
}
button {
	text-transform: capitalize;
}

#button {
	float: left;
	position: relative;
	top: 110px;
}
.button {
	position: relative;
	top: 100px;
}
.checkout {
	position: static;
    right: 0;
    bottom: 0px;
	height: 50px;
	width: 30%; 
    margin: 0 auto;
    background: rgb(255, 0, 0);
    text-align:center;
    z-index: 1;
} 

/*waypoints*/
.os-animation{
	opacity: 0;
}
.os-animation.animated{
    opacity: 1;
}
@media screen and (max-width: 840px){

	
	.section1 {
		max-width: 350px;
		margin: 0 auto;
		
		display: block;
		float: left;
	}
	.center {
		margin: 0 auto;
		max-width: 400px;
		font-size: 200%;
		
	}
	
		
	
}
