




#inner-wrapper{
	max-width: 100px;
	margin: 0 auto;
}
container {
	position: relative;
	top: -80px;
}

.clearfix {
	clear: both;
	padding: 1%;
}

p {
	color: #f3a816;
	line-height: 190%;
	text-align: center;
	text-transform: capitalize;;		
	;
}
.pizza {	
	max-height: 300px;
	min-height: 300px;
	max-width: 300px;
	min-width: 300px;
	
	
	position: relative;
} 
.label {
	position: relative;
	top: -40px;
	z-index: -40;
}
p {
	position: relative;
	font-family: cursive;
	top: -110px;
}
.section1 {
	max-width: 350px;
	margin: 2%;
	display: block;
	float: left;
}

#Pizzaicon{

	margin:0,auto;
	position: absolute;

}

.center {
	margin: 0 auto;
	max-width: 100%;
	font-size: 200%;	
}


/* ADD TO CART*/
.add-to-cartAnimate {
    background:green;
	font-size: 80%;
}


/*waypoints*/
.os-animation{
	opacity: 0;
}
.os-animation.animated{
    opacity: 1;
}
@media screen and (max-width: 840px){

	
	.section1 {
		max-width: 350px;
		margin: 0 auto;
		
		display: block;
		float: left;
	}
	.center {
		margin: 0 auto;
		max-width: 400px;
		font-size: 200%;
		
	}
	
		
	
}